@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ececec;
  position: relative;
}

.slick-slide {
  margin-right: 20px !important;
}

.slick-prev,
.slick-next {
  margin-top: -40px !important;
}
.timtim {
  display: flex !important;
}
.outline-class {
  outline: 4px solid #416dfa;
}
